.method-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 375px;
    background-color: #8378DE;
    border-radius: 20px;
    margin: 20px;
}

.orange {
    background-color: #F9A826;
}

.step-icon {
    width: 275px;
    height: 275px;
    align-self: center;
}

.title {
    font-size: 25px;
    color: #FFFDFD;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px;
    text-align: left;
    font-weight: bold;

}

.step {
    font-size: 25px;
    color: #FFFDFD; 
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px;
    text-align: left;
    font-weight: bold;
}

