.recent-act-wrapper {
    /* border: .1em #000000 solid;
    border-radius: 12px; */
    padding: .5em 2em;
    width: 27em;
    align-content: center;
    /* box-shadow: 5px 5px #888888; */
    
}

.recent-act-title{
    font-size: 1.2em;
    color: #FFFFFF;
    background-color: #F9A826;
    padding: .1em;
    box-shadow: 5px 5px #888888;
    border-radius: 10px;
}