.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 50%;
    border: 2px solid #D8D5D5;
    width: 225px;
    height: 225px;
    box-shadow: 0px 3px 15px #D8D5D5;
}

.card-image {
    margin-top: 20px;
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #D8D5D5;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
    color: #8378DE;
    padding: 0px;
    margin-bottom: 2px;
    margin-top: 12px;
    width: 175px;
    
}

.card-members {
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    margin: 2px;
    color: #3F2B3B;
}

.card-button {
    width: 150px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-color: #663399;
    font-size: 16px;
    font-weight: bold;
    color: #FFFDFD; 
}